# LangChain / LangGraph
langchain
langgraph
langchain-community
langchain-google-genai
langchain-tavily

# Environment Variables
python-dotenv

# Health Topic Validation
rapidfuzz

# Jupyter Notebook
jupyter
ipykernel
ipywidgets
jupyterlab_widgets
widgetsnbextension

# Testing
pytest
nbformat
nbconvert