# Core LangChain / LangGraph
langgraph
langchain
langchain-community
langchain-openai

# Tavily Web Search
tavily-python

# Environment Variables
python-dotenv

# Testing
pytest

# Jupyter Notebook
jupyter
ipykernel